@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root{
    --main-color: red;
    --crimson-color :#8b0000 ;
    --black-color :black;
    --secondry-color :#F5F5DC;
    --brown-color :#544948;
    --brown-dark-color :#2f2424;
    --transition: all .3s ease-in-out;
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);

}
.bg-dark-red{
    background-color: var(--crimson-color);
}
.bg-dark-brown{
    background-color: var(--brown-dark-color);
}
*{
    font-family: "Rubik", sans-serif;
}
.bg-brown{
    background-color: var(--brown-color);
}
 body {
    height: 100%;
}
.full-height {
    height: 100vh;
}
*{
    padding: 0;
    margin: 0;
    font-family: "Source Sans 3", sans-serif;
}
.container{
    height: 100%;
}

.navbar{
    padding: 20px 0;
    border-bottom: 1px solid var(--secondry-color);

}


.navbar-nav .nav-link:hover {
    color: white !important; 
}

.navbar-toggler{
    color: var(--secondry-color);
    border-color: var(--secondry-color);
    
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
   
}




.navbar a{
    text-decoration: none;
    color: var(--secondry-color);
    font-size: 1rem;
    font-weight: bold ;
    margin: 5px;
    transition: var(--transition);
    padding-bottom: 5px; 
    position: relative; 
}

.navbar a::after {
    content: '';                
    position: absolute; 
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; 
    background: var(--secondry-color);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: var(--transition); 
}

.navbar a:hover::after {
    transform: scaleX(1);  
    transform-origin: bottom left; 
}
.logo {
    height: 60px; 
    width: auto;
}

.buttons .btn{
    margin: 5px;
 
}

.card{
    transition: var(--transition);
  
   
}
.card:hover{
    transform: scale(1.1);
}
.jump-link {
    text-decoration: none;
    font-size: 19px;
    display: inline-flex;
    align-items: center;
}

.arrow {
    display: inline-block;
    margin-left: 5px;
    transition: transform 0.3s ease;
    font-weight: bold;
}


.jump-link:hover .arrow {
    transform: translateX(10px);
}

.card-fac {
    
    background-color: antiquewhite; 
    text-align: center;
 
    border: 2px solid var(--secondry-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: var(--crimson-color); 
    overflow: hidden;
   
    
}
.card-fac p a{
    color: black;
    font-size: large;
}
